@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,300;1,400;1,500;1,700;1,800&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    position: relative;
}

body {
    background-color: #fff;
    z-index: 1;
    font-family: 'Montserrat', sans-serif;
    background: rgb(224,237,237);
    background: radial-gradient(circle, rgba(224,237,237,1) 0%, rgba(223,234,237,1) 46%, rgba(224,235,236,1) 100%);
}

img {
    max-width: 100%;
}

a{
    text-decoration: none;
    color: black;
    transition: all .4s ease;
}
a:hover{
    color: black;
}

/* Menu de navegacion */
.navbar-nav li{
    padding: 15px;
    border-bottom: 1px solid #5a5a5a;
}

.navbar-nav li:last-child{
    border-bottom: none;
}

.navbar-brand{
    letter-spacing: 5px;
    font-weight: 300;
    font-style: italic;
    text-transform: uppercase;
}

@media (min-width: 1200px) {
    .navbar-nav li{
        padding: 10px 15px;
        border-bottom: none;
    }
    .navbar-nav li a, .navbar-nav li a i {
        font-size: 18px;
    }
    .navbar-brand{
        font-size: 26px;
    }
}


/* Slider de imagenes */
.carousel-item img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}



@media (min-width: 768px) {
    .carousel-item img {
        height: 150px;
    }
}

@media (min-width: 1024px) {
    .carousel-item img {
        height: 200px;
    }
}

@media (min-width: 1200px) {
    .carousel-item img {
        height: 350px;
    }
}

/**Contenido de la pagina principal**/
.link-ver-mas{
    color: #818181;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: all .3s ease;
}

.link-ver-mas:hover{
    color: #515151;
}

/* aside */
.aside{
    /* background-color: red; */
    padding-top: 0;
}

.aside div{
    height: 50px;
    
}

/*Footer*/
footer{
    position: absolute;
    width: 100%;
    bottom: 0;
}
.contenedor-redes a i{
    color: #717171;
    font-size: 22px;
    transition: all .3s ease;
}   
.contenedor-redes a i:hover{
    color: #e1e1e1;
    transform: scale(1.2);
}

/* productos */
.card{
    transition: all .5s ease;
}
.card:hover{
    border: 1px solid #38f546;
    filter: opacity(80%);
}
.titulo-productos{
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
    color: black;
    font-weight: 600;
    text-decoration: none;
    font-size: 20px;
}

.card .descuento{
    color: rgb(7, 211, 7);
    font-weight: bold;
}

.card .precio{
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    color: #515151;
}

.lista-categorias{
    list-style: none;
    padding: 0;
    margin: 0;
}
.lista-categorias li{
    font-size: 17px;
    font-weight: 500;
    text-align: left;
    padding: 10px 5px;
    transition: all .4s ease;
}
.lista-categorias li:hover{
    background-color: rgb(177, 225, 230);
}
.lista-categorias li:hover a{
    color: #67676b;
}

/* Detalle producto */
.detalles-producto{
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
   /*  background-color: #fff;
    padding: 15px;
    border: 5px; */
}
.contenedor-detalles-producto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.contenedor-detalles-producto .imagen-producto{
    margin-top: 15px;
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
}

.contenedor-detalles-producto .info-producto{
    margin: 15px 0;
}

@media (min-width: 768px) {
    .contenedor-detalles-producto{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 70vh;
    }
    
    .contenedor-detalles-producto .imagen-producto{
        flex: 0 0 calc(50% - 20px);
    }
    
    .contenedor-detalles-producto .imagen-producto img{
        width: 500px;
        height: 500px;
    }
    
    .contenedor-detalles-producto .info-producto{
        flex: 0 0 calc(50% - 20px);
    }
}

/* Carrito */
.contenedor-tabla-carrito{
    width: 95%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Administrador Productos */
.imagen-tabla{
    width: 100px;
    height: 100px;
}