<div class="contenedor-tabla-carrito">
    <div class="table-responsive">
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th>Foto</th>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td>PC Armada</td>
            <td>2</td>
            <td>$2500.50</td>
            <td><i class="fas fa-trash"></i></td>
          </tr>
          <tr>
            <td></td>
            <td>PC Armada</td>
            <td>2</td>
            <td>$2500.50</td>
            <td><i class="fas fa-trash"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
</div>