{{! SLIDER IMAGENES }}
<div
  id="carouselExampleInterval"
  class="carousel slide carousel-dark carousel-fide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="3000">
      <img
        src="imagenes/slider1compu.jpg"
        class="d-block w-100 imagen-slider"
        alt="..."
      />
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img
        src="imagenes/slider2compu.jpg"
        class="d-block w-100 imagen-slider"
        alt="..."
      />
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img
        src="imagenes/slider3compu.jpg"
        class="d-block w-100 imagen-slider"
        alt="..."
      />
    </div>
  </div>

  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleInterval"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleInterval"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-12 mb-4">
      <h3 class="titulo-productos">Computadoras de Escritorio</h3>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-10 col-lg-9">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {{#each productos}}
          <div class="col">
            <a href="/productos/detalleProducto?id={{this.id}}">
            <div class="card p-2 h-100">
              <img
                src="imagenes/{{this.foto}}"
                class="card-img-top"
                width="200px"
                height="250px"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title text-center precio">${{this.precio}}</h5>
                <p class="card-text text-center">{{this.nombre}}</p>
              </div>
            </div>
            </a>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="row justify-content-end">
    <div class="col-4 my-3 d-flex justify-content-center">
      <a href="/productos?categoria=PC+Escritorio" class="link-ver-mas">Ver
        todos
        <i class="fas fa-chevron-right"></i></a>
    </div>
  </div>
</div>
<br><br><br>