{{! SLIDER IMAGENES }}
<div
  id="carouselExampleInterval"
  class="carousel slide carousel-dark carousel-fide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="5000">
      <img
        src="imagenes/slider1compu.jpg"
        class="d-block w-100 imagen-slider"
        alt="..."
      />
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img
        src="imagenes/slider2compu.jpg"
        class="d-block w-100 imagen-slider"
        alt="..."
      />
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img
        src="imagenes/slider3compu.jpg"
        class="d-block w-100 imagen-slider"
        alt="..."
      />
    </div>
  </div>

  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleInterval"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleInterval"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-12 mb-4">
      <a class="titulo-productos">Computadoras de Escritorio</a>
    </div>
  </div>
  <div class="contenedor-productos">
    <div class="tarjeta-producto">
      <div class="tarjeta-producto-imagen">
        <img src="imagenes/producto1.jpg" alt="" />
      </div>
      <div class="tarjeta-producto-contenido">
        <div class="descuento">
          <span class="descuento">5% OFF</span>
        </div>
        <div class="info">
          <p class="precio">$58.600</p>
          <p class="financiacion">18 x $3222.22 Sin Interes</p>
          <p class="nombre">PC de Escritorio Armada I58 10ma generación</p>
        </div>
      </div>
    </div>
    <div class="tarjeta-producto">
      <div class="tarjeta-producto-imagen">
        <img src="imagenes/producto1.jpg" alt="" />
      </div>
      <div class="tarjeta-producto-contenido">
        <div class="descuento">
          <span class="descuento">5% OFF</span>
        </div>
        <div class="info">
          <p class="precio">$58.600</p>
          <p class="financiacion">18 x $3222.22 Sin Interes</p>
          <p class="nombre">PC de Escritorio Armada I58 10ma generación</p>
        </div>
      </div>
    </div>
    <div class="tarjeta-producto">
      <div class="tarjeta-producto-imagen">
        <img src="imagenes/producto1.jpg" alt="" />
      </div>
      <div class="tarjeta-producto-contenido">
        <div class="descuento">
          <span class="descuento">5% OFF</span>
        </div>
        <div class="info">
          <p class="precio">$58.600</p>
          <p class="financiacion">18 x $3222.22 Sin Interes</p>
          <p class="nombre">PC de Escritorio Armada I58 10ma generación</p>
        </div>
      </div>
    </div>
    
  </div>
</div>