<div class="container">
    <div class="row">
        <div class="col-12 col-md-4">
            <img src="imagenes/{{producto.foto}}" alt="">
        </div>
        <div class="col-12 col-md-8 pl-md-4">
            <h4 class="productoNombre">{{producto.nombre}}</h4>
            <p class="productoPrecio">${{producto.precio}}</p>
            <p class="productoFinanciacion">{{producto.financiacion}}</p>
        </div>
    </div>
</div>