{{! PRODUCTOS INICIO }}
{{!-- <div class="container-fluid mt-5">
  <div class="row justify-content-end">
    <div class="col-3 d-flex justify-content-center">
      <a href="/productos" class="link-ver-mas">Ver todos
        <i class="fas fa-chevron-right"></i></a>
    </div>
  </div>
  <div class="row justify-content-center my-3">
    <div class="col-12 col-md-9 contenedor-tarjeta">
      <div class="row justify-content-center justify-content-md-between">
        <div class="col-11 col-md-4"></div>
        <div class="col-11 col-md-4"></div>
        <div class="col-11 col-md-4"></div>
        <div class="col-11 col-md-4"></div>
        <div class="col-11 col-md-4"></div>
        <div class="col-11 col-md-4"></div>
        <div class="col-11 col-md-4"></div>
        <div class="col-11 col-md-4"></div>
        <div class="col-11 col-md-4"></div>
      </div>
    </div>
  </div>
</div> --}}
{{! <div class="container mt-5">
  <div class="row justify-content-end">
    <div class="col-3 d-flex justify-content-end">
      <a href="/productos" class="link-ver-mas">Ver todos
        <i class="fas fa-chevron-right"></i></a>
    </div>
  </div>
  <div class="row justify-content-md-between my-3">
    <div class="d-none d-md-block col-md-2 aside">
      <div class="pt-4 mb-4 col-12 text-center">
        <h4>Categorias</h4>
      </div>
      <div>
        <ul>
          <li><a href="#">Remeras</a></li>
          <li><a href="#">Pantalones</a></li>
          <li><a href="#">Buzos</a></li>
          <li><a href="#">Camperas</a></li>
          <li><a href="#">Pañuelos</a></li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-md-9 contenedor-tarjeta">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div> }}